[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
biopython = "*"
blinker = "*"
click = "*"
flask = "*"
flask-cors = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
greenlet = "*"
gunicorn = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
numpy = "*"
packaging = "*"
pandas = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
six = "*"
sqlalchemy = "*"
typing-extensions = "*"
tzdata = "*"
werkzeug = "*"
wtforms = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
